
/* Header --------------------------------- */

#headerTop {
	background-color: #003300;
}
#headerNavi {
	background-color: #339900;
}
#headerNaviLeft {
	background-color: #339900;
}
#headerNaviRight {
	background-color: #339900;
}
.headerNaviLinkActive {
	background-color: #ffbf00 !important;
	box-shadow: 0 0 15px rgba(129, 103, 0, 0.3) inset !important;
	color: #000000 !important;
	text-shadow: 2px 2px 7px #b38f00 !important;
}
nav.headerNaviNav {
	background-color: #339900;
}
nav.headerNaviNav ul li {
	background-color: #339900;
}
nav.headerNaviNav a:hover:not(.headerNaviLinkActive) { 
	background-color: #006600;
	box-shadow: 0 0 15px rgba(51, 204, 0, 0.3) inset;
	text-shadow: 2px 2px 7px #003300;
}


/* Input Form Elements--------------------- */

.buttonlike {
	background: #339900 none repeat scroll 0 0;
	box-shadow: 0 0 15px rgba(26, 77, 0, 0.3) inset;
	text-shadow: 2px 2px 7px #003300;
}
.buttonlike:hover {
	background-color: #006600;
	box-shadow: 0 0 15px rgba(51, 204, 0, 0.3) inset;
	text-shadow: 2px 2px 7px #003300;
}
.emphasized {
	background: #ffbf00 none repeat scroll 0 0 !important;
	box-shadow: 0 0 15px rgba(129, 103, 0, 0.3) inset !important;
	color: #000000 !important;
	text-shadow: 2px 2px 7px #b38f00 !important;
}


/* Tables --------------------------------- */

table.tablesorter th {
	background-color: #339900;
}
table.tablesorter th.tablesorterThAsc {
	background-color: #fcbd00;
	background-image: url("../img/asc2black.gif");
	color: #000000;
	text-shadow: 2px 2px 7px #b38f00;       
}
table.tablesorter th.tablesorterThDesc {
	background-color: #fcbd00;    
	background-image: url("../img/desc2black.gif");
	color: #000000;
	text-shadow: 2px 2px 7px #b38f00;    
}
table#sortable tr:nth-child(2n) {
    background-color: #e2ffd4;
}



/* Special Elements ----------------------- */

.light {
	background-color: #dcffee;
}
.emph {
	color: #339900;
	font-weight: bold;
}
a.plotLink {
   color: #339900;
}
a.plotLink:hover {
   color: #ffbf00;
}
