div#equipHeader {
	width: 1200px;
	display: block;
}
div#equipFields {
	width: calc(77% - 2px);
	/*width: calc(100% - 2px);*/
	height: 60px;
	background: none repeat scroll 0 0;
	border: 0 none !important;
}
div#equipFields > div > label {
	color: #808080;
	margin: 7px 0px;
	display: inline-block;
	font-size: 80%;
}
div#equipFieldMtf {
	width: 36%!important;	
	height: 100%;
	display: block;
	border: 0 none !important;
	background: none repeat scroll 0 0;
	float: left;
}
div#equipFieldEqid{
	width: 28%!important;
	height: 100%;
	border: 0 none !important;
	background: none repeat scroll 0 0;
	float: left;	
}
div#equipFieldAlias{
	width: 36%!important;
	height: 100%;
	border: 0 none !important;
	background: none repeat scroll 0 0;
	float: left;	
}
div#equipFieldButton{
	width: calc(23% - 2px);
	height: 60px;
	padding-left: 2px;
	background: none repeat scroll 0 0;
	border: 0 none !important;
}
div#equipFieldEvDate {
	width: 30%;
	margin-right: 6.4%;	
	float: right;
	text-align: right;	
	display: none;
	text-align: center;
}
div#equipFieldEvDate input {
	width: 30%;
	text-align: center;
	color: #000000;
	background-color: coral;	
}

/* 
#searchfields #inMTFID,
#searchfields #inEQIDfield,
#searchfields #inEQALIASfield,
#searchfields #inEVENTDATEfield {
	font-size: 90%;
}

#leftsearch{
	height: 100%;
	border: 0 none !important;
	background: none repeat scroll 0 0;
}

.log #mftsearch.small{
	width: 29%!important;	
}

#rightsearch{
	height: 100%;
	border: 0 none !important;
	background: none repeat scroll 0 0;
}
#rightsearch.in3div,
#leftsearch.in3div{
	width: 40%!important;
}

.log #eqidsearch.small{
	width: 23%!important;	
}

.log #aliassearch.small{
	width: 29%!important;	
}
.log #eventdate {
	width: 18%!important;
	height: 100%;
	border: 0 none !important;
	background: none repeat scroll 0 0;
	float: left;	 	
}
.log #eventdate label{
	cursor: help;
}
#typesearch{
	width: 26%!important;
	height: 100%;
	border: 0 none !important;
	background: none repeat scroll 0 0;
	float: left;	
}

#commitbutt.small{
	width: calc(8% - 2px);
}
*/	
