#heritageMain {
	display: none;		
}
#heritageMain label {
	text-align: center;
}
div.heritageRow1 {
	height: 110px !important;
}
input#heritageIdChildSub,
input#heritageIdParentSub {
	width: 40%;
}
#heritagePosition,
#heritageLinks,
#heritageEvDate,
#heritageButton {
	width: 25%;
	padding-bottom: 12px; 
	text-align: center;	
}
#heritageButton {
	padding-top: 21px;
	text-align: right;
}
#heritagePosition input,
#heritageLinks input {
	width: 40%;
	margin: auto;
	display: block;
}
#heritageEvDate input {
	margin: auto;
	display: block;	
}
#heritageButton button {
	float: right; 
	display: block;
	text-align: center;
}
#heritageRow2 {
	height: 70px;
}
#heritageRow3 {
	height: 60px;
}
.heritageCableLabel {
	color: #808080;
	font-size: 80%;
	vertical-align: text-top;
	line-height: 0.8;
}



/*
#addHeritage #addChild,
#addHeritage #addParent {
	width: calc(50% - 13px);
	padding-left:    6px;
	padding-right:   6px;
	padding-bottom: 12px;	
	display: block;
	text-align: center;	
}
#addHeritage #addChild {
	width: calc(50% - 12px);	
	border-left: 0;
}
#addHeritage #addParent {
   border-left: 0;
	border-right: 0;	
}
#addHeritage #addChild select,
#addHeritage #addParent select {
	-moz-appearance: none;
   width: 100%;
	text-align: center;
}
#addHeritage #addChild select option,
#addHeritage #addParent select option {
	text-align: left;;	
}
#addHeritage #addChild input,
#addHeritage #addParent input {
	width: 91%;
}







#addHeritage #addServices {
	width: calc(100% - 16px);
	padding-left:    8px;
	padding-right:   8px;
	padding-bottom: 12px;	
	border-left:     0;
	border-right:    0;
	border-bottom:   0;		
}
#addHeritage #addServices .subHead {
	margin-top: 7px;
	text-align: center;
	color: #808080;
	font-size: 80%;
}
#addHeritage #addServices .sLabel {
	color: #808080;
	font-size: 80%;
	vertical-align: text-top;
	line-height: 0.8;
}
#addHeritage #addServices #sCable {
	margin-left: 46px;
}
#addHeritage #addServices #sCable input {
	margin-left: 10px;
}
*/
