You have successfully logged in and are now redirected to the requested page!
If it does not work, please click <a href="#" onclick="doIt()">here</a>.
<script type="text/javascript">
function doIt(){
    document.getElementById("mainform").action = "page.php";
    document.getElementById("mainform").submit();
}
doIt();
</script>
