<table class="greytable smaller">
	<thead>
		<tr>
			<th><center><button type="button" onclick="submitIt('delpar')" class="buttonlike flex del" $saveActive>&#8999;</button></center></th>
			<th><b>PARENT EQ ID</b></th>
			<th><b>PARENT EQ MTF ID</b></th>
			<th><b>PARENT OTHER ID</b></th>
			<th><b>PARENT TYPE NAME</b></th>
			<th><b>POSITION</b></th>
			<th><b>#</b></th>
			<th><b>ATTACHMENT DATE</b></th>
			<th><b>BY</b></th>
		</tr>
	</thead>
	<tbody>
		$rows
	</tbody>
</table>
