<script type="text/javascript" src="jsNew/log/prod.js"></script>      
<link rel="stylesheet" href="stylesNew/log/prod.css">
<script>
var url = '$popup';
if(url!=''){
	window.open(url)//, 'width=710,height=555,left=160,top=170')
}
</script>
$header
$body
