<tr>
	<td class="$tdClass"><input class="subRanges" name="subRanges[]" type="checkbox" value="$subRangeId"></td>
	<td class="$tdClass">$eqId</td>
	<td class="$tdClass">$mtfId</td>
	<td class="$tdClass">$otherId</td>
	<td class="$tdClass rt" style="padding-right:1.5%;">$rangeLen $rangeSum</td>
	<td class="$tdClass center">$parstart</td>
	<td class="$tdClass center">$parend</td>
	<td class="$tdClass center">$eqtypename</td>
	<td class="$tdClass center">$projname</td>
</tr>
